.popup{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.49);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container{
    width: 400px;
    background-color: #fff;
    border-radius: 30px;
    padding: 50px 0;
  }

}

@media screen and (max-width: 398px) {
  .popup{

    &__container{
      width: 300px;
      padding: 20px;
    }

  }
}